body {
    background-color: #d1ffc4;
}

.title {
    color: rgb(255, 72, 0);
    text-align: center;
    font-weight: 900;
    font-size: 60px;
}

.calculator {
    width: 400px;
    height: 500px;
    background-color: aqua;
    margin: 0 auto;
    border-radius: 15px;
    padding-top: 15px;
}

input {
    display: block;
    margin: 15px auto;
    height: 40px;
    width: 300px;
    border: 3px #02758e solid;
}

button {
    margin: 0 auto;
    display: block;
    height: 40px;
    width: 300px;
    border: none;
    color: aliceblue;
    background-color: #01323d;
    cursor: pointer;
    border-radius: 10px;
}